/* base style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Side nav menu */
.sidenav {
    display: flex;
    width: 100%;
    background-color: lightblue;
    transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.sidenav ul {
    display: flex;
    list-style: none;
}

.sidenav a {
    padding: 2rem;
    text-decoration: none;
    color: #818181;
    display: inline-block;
    transition: .3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    /* display: none; */
    display: inline-block;
    order: 3;
    margin-left: auto;
}

.hamburger {
    font-size: 25px;
    cursor: pointer;
}

#main {
    background-color: #fff;
    transition: all .5s;
    padding: 20px;
}

/* Small screens */
@media (max-width: 750px) {
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
    }

    .sidenav ul {
        flex-direction: column;
    }

    .sidenav .closebtn {
        display: block;
    }
}